.HRDiagramWrapper {
  display: flex;
  width: 30rem;
  height: 25.6rem;
  background-image: url("hrdiagram.png");
  //width:30rem;
  background-size: contain;
  background-repeat: no-repeat;
  //width: 100%;
  //height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  border: solid 0.2rem #00ccff;


  .HRDiagram {
    //width: 100%;
    //height: 100%;
    //background-color: aqua;
    //min-width: 50rem;
    //min-height: 40rem;
    width: 83%;
    height: 75%;
    display: flex;
    //border: solid 0.2rem #00ccff;
    //border-radius: 0.5rem 0 0.5rem 0;

    //align-items: end;

    .leftScale {
      //margin-top: -1rem;
      height: 100%;
      display: flex;
      ul {
        margin: 0.75rem 0;
        padding: 0;
        display: flex;
        align-content: space-between;
        flex-direction: column-reverse;
        //height: 100%;
        li{
          display: block;
          margin-top:auto;
          margin-bottom:auto;
          margin-right: auto;
          margin-left: 0;
        }
      }
    }

    .bottomScale {
      width: 100%;
      display: flex;
      align-content: end;
      ul{
        padding: 0;
        display: flex;
        width:100%;
        flex-direction: row-reverse;
        align-items: end;
      }
      li {
        display: inline;
        margin-left: auto;
        margin-right: auto;
      }
    }

  }

}
.point{
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 3rem;
  background-color: red;
  z-index: 2;
  top:0;
  left:0;
  transition: 1s;
}
//$hrtextheight
.hrheader{
  height: 1rem;
}
.hrfooter{
  height: 1rem;
}