.shell{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  transition: 0.25s;
  border: solid 0.1px gray;
}
.matterLabel{
  margin: auto;
  position: absolute;
}
//.structureWrapper{
//  align-items: center;
//  align-content: center;
//  justify-content: center;
//  height: 100%;
//  width: 100%;
//}