.shell{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  transition: 0.5s;

}
.matterLabel{
  margin: auto;
  position: absolute;
}
//.structureWrapper{
//  align-items: center;
//  align-content: center;
//  justify-content: center;
//  height: 100%;
//  width: 100%;
//}